.OUTER2{
    width: 315px;
    height: 844px;
    left: 1204px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    background: rgba(44, 47, 72, 1);
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.1) inset;
}
#frame59{
    width: 315px;
height: 44px;
padding: 0px 0px 1.83px 51px;
gap: 0px;
opacity: 0px;
background: rgba(255, 255, 255, 0.001);
box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1) inset;
position: absolute;
}
#frame43{
    width: Hug (193px)px;
height: Hug (42.17px)px;
left: 110px;
padding: 10px 30px 10px 30px;
gap: 33.25px;
opacity: 0px;
position: absolute;
display: flex;
}
#notifictaion{
    width: 22.17px;
height: 22.17px;
padding: 2.08px;
gap: 0px;
opacity: 0px;
}
#profile{
    width: 22.17px;
height: 22.17px;
padding: 2.77px;
gap: 0px;
opacity: 0px;

}
#settings{
    width: 22.17px;
height: 22.17px;
padding: 1.85px 2.23px 1.85px 2.23px;
gap: 0px;
opacity: 0px;
}
#userphoto{
    width: 182px;
    height: 170px;
    top: 114px;
    left: 79px;
    gap: 0px;
    border: 1.74px 0px 0px 0px;
    opacity: 0px;
    /* border: 1.74px solid; */
    border-image-source: linear-gradient(151.28deg, #A73EE7 6.42%, #00EBFF 84.32%);
    position: absolute;
}
#name{
    position: absolute;
    width: 149px;
    height: 32px;
    top: 310px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 26.53px;
    font-weight: 500;
    line-height: 31.84px;
    letter-spacing: 0.16em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
}
#nameid{
    width: 125px;
height: 15px;
top: 350px;
left: 105px;
gap: 0px;
opacity: 0px;
font-family: Lato;
font-size: 12.67px;
font-weight: 500;
line-height: 15.21px;
letter-spacing: 0.16em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
position: absolute;
color: rgba(133, 129, 129, 1);

}
